/* 전체 컨테이너 */
.report18-container {
    background-color: #1e1e1e;
    color: #f8f8f8;
    padding: 0px 40px;
    text-align: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    height: 100vh; /* 화면 높이 고정 */
    overflow: hidden; /* 스크롤 제거 */
}

/* 제목 스타일 */
.report18-container .report-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f0c674;
    margin-bottom: 10px;
}

.report18-container .report-subtitle {
    font-size: 1.2rem;
    color: #dcdcdc;
    margin-bottom: 30px;
}

/* 분석 섹션 */
.report18-container .report-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

/* 에너지 구성 테이블 섹션 */
.report18-container .blessing-analysis-section {
    flex: 1;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.report18-container .blessing-analysis-section h2 {
    color: #f0c674;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.report18-container .blessing-analysis-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #f8f8f8;
    text-align: center;
}

.report18-container .blessing-analysis-table th,
.report18-container .blessing-analysis-table td {
    border: 1px solid #555;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    vertical-align: middle;
    min-width: 80px;
    height: 50px;
}

.report18-container .blessing-analysis-table td {
    background-color: #1e1e1e;
    color: #f8f8f8;
}

/* 복 점수 섹션 */
.report18-container .blessing-table-container {
    flex: 1;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.report18-container .blessing-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

.report18-container .blessing-table-container th,
.report18-container .blessing-table-container td {
    border: 1px solid #444;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.report18-container .blessing-table-container th {
    background-color: #495057;
    color: #f0c674;
    font-weight: bold;
    font-size: 1.2rem;
}

.report18-container .blessing-table-container td {
    background-color: #1e1e1e;
    color: #f8f8f8;
}

/* 버튼 스타일 */
.nextPage-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    background-color: #f0c674;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nextPage-button:hover {
    background-color: #e5b960;
    transform: scale(1.05);
}

/* 하단 메시지 */
.footer-section {
    margin-top: 20px;
    text-align: center;
    color: #868e96;
}

.footer-message {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 20px;
}
